*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto" , sans-serif;
}

body{
  height: 100%;
}

.container{
    margin: 0 20px;
}
@media (min-width:760px){
    .container{
    margin: 0 85px;
    }
}

h2{
  text-align: center;
  margin: 35px 0px 18px 0px;
}

h3{
  margin-top: 20px;
  margin-bottom: 10px;
}



/* header */
header{
    background-color: rgba(31, 108, 223, 0.54);
    background-image: linear-gradient(to top, #00000085 70% ,#000000  ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI-1iZ_nHUt9BVziEP_9k0CQe6WxGrfmA5rlHh40PuCEPA2Lwp4UjJTfXquV5HpHRxuKE&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: sticky;
    top: -326px;
}



/* navbor */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 30px 0 10px 0;
    font-size: 18px;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to top , #00000000 , #080808 99%) , url();
}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    color: white;
}

nav .logo img{
    width: 45px;
    margin-right: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
  }

  nav ul li a{
    font-weight:100;
    cursor: pointer;
    color: white;
  }
  
a{
  text-decoration: none;
}
nav ul li a:hover{
  color: #4191E1;
}

.nav-top{
   position: sticky;
    top: -175px;
    margin-bottom:50px ;
}



/* section */
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    height: 309px;
}

h1{
  color: white;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 40px;
  text-align: center;
}
.titlePag{
  padding: 12px;
}

section button{
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #6F00FF;
  color: white;
  font-size: 20px;
  border: none;
  transition: .5s;
}

section button:hover{
  background-color: #4191E1;
  box-shadow: 0px 0px 15px 7px #4191E1;
  cursor: pointer;
}



/* table */
.table {
  width: 100%;
  border-spacing: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  overflow: hidden;
  transition:0.3s ease-in-out;
}

.table:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px #1b83eb66;
}


.table thead th {
  background-color: #4191E1;
  color: white;
  font-size: 16px;
  padding: 20px;
  border-right: 1px solid #f9fafa;
}

.table thead th:last-child {
  border-right: none;
}

.table tbody td {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff; 
}

.table tbody tr:nth-child(even) {
  background-color: #e6f4fa; /
}



/* paragraph & image */
.paragraph{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}

.paragraph img{
  width: 300px;
}



/* the footer */
footer{
  background-color: #212222;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  margin-top: 40px;
}

footer p{
  text-align: center;
  font-size: 16px;
}

.test{
  height: 100vh;
}



/* --------------- */
.sushal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 20px 0;
  flex: 4;
}
.card{
  display: flex;
  min-width: 235px;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 15px 30px;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 4px 12px #6f00ff6d;

}
.imgapp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: slateblue;
}
form{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  width: 100%;

}
form input[type="text"]
,form input[type="email"]{
  width: 49.5%;
  padding: 5px;
}
form textarea{
  width: 100%;
  padding: 5px;

}
form input[type="submit"]{
  background-color: #6F00FF;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  cursor: ew-resize;
}