*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto" , sans-serif;

}
body{
  height: 100%;
}

.container{
    margin: 0 20px;
}
@media (min-width:760px){
    .container{
    margin: 0 85px;
    }
}

h2{
  text-align: center;
  margin: 35px 0px 18px 0px;
}


header{
    background-color: rgba(31, 108, 223, 0.54);
    background-image: linear-gradient(to top, #00000085 70% ,#000000  ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI-1iZ_nHUt9BVziEP_9k0CQe6WxGrfmA5rlHh40PuCEPA2Lwp4UjJTfXquV5HpHRxuKE&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: sticky;
    top: -326px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 30px 0 10px 0;
    font-size: 18px;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to top , #00000000 0%, #080808) , url();
}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    color: white;
}

nav .logo img{
    width: 45px;
    margin-right: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
  }
  
  nav ul li a{
    font-weight:100;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
 color: #4191E1;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    height: 309px;
}
section h1{
  color: white;
  font-weight: bolder;
  font-size: 80px;
  margin-bottom: 40px;
}
section button{
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #6F00FF;
  color: white;
  font-size: 20px;
  border: none;
  transition: .5s;
}
section button:hover{
  background-color: #4191E1;
  box-shadow: 0px 0px 15px 7px #4191E1;
  cursor: pointer;
}



.name-table {
    width: 100%;
    /* margin: 0  0 40px  0; */
  border-spacing: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  overflow: hidden;
  transition: .5s;
}
.name-table:hover {
  box-shadow: 0 4px 12px #1b83eb66;
}

.name-table thead th {
  background-color: #4191E1;
  color: white;
  font-size: 16px;
  padding: 20px;
  border-right: 1px solid #f9fafa;
}

.name-table thead th:last-child {
  border-right: none;
}

.name-table tbody td {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}






.name-table tbody tr:nth-child(odd) {
  background-color: #ffffff; 
}
.name-table tbody tr:nth-child(even) {
  background-color: #e6f4fa; /
}

.paragraph{
   display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}
.paragraph img{
  width: 300px;
}

footer{
  background-color: #212222;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  margin-top: 40px;
}
footer p{
  text-align: center;
}

.test{
  height: 100vh;
}
